* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

:root {
	--orange: #ff5100;
}

.nav {
	height: 70px;
	width: 100%;
	box-shadow: 0px 0px 50px rgb(212, 210, 210);
}

.nav-bar {
	display: flex;
	flex-direction: row;
	height: 70px;
	justify-content: space-around;
	align-items: center;
}

img[alt="logo-menu"] {
	height: 50px;
	width: auto;
}

.search-box {
	width: 300px;
	padding: 10px 20px;
	border-radius: 20px;
	border: none;
	box-shadow: 0px 0px 3px gray;
}

.search-box:focus {
	box-shadow: 0px 0px 8px gray;
	outline: none;
}

.user-actions {
	display: flex;
	flex-direction: row;
	gap: 40px;
	align-items: center;
}

.actions {
	display: flex;
	gap: 10px;
}

img[alt="user-logo"] {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	margin-bottom: -2.5px;
}

img[alt="phone-icon"] {
	width: 15px;
	height: 15px;
	margin-right: 8px;
	margin-bottom: -2.5px;
}

.home {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-self: center;
	padding: 10px 0px;
	justify-content: space-between;
	align-items: center;
}

.res-title {
	margin-top: 20px;
	font-size: 30px;
	font-weight: 600;
}
.res-info {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.contact {
	color: rgb(74, 74, 74);
}

.rating-info {
	margin-right: 20px;
}

.rating {
	padding: 2px 5px;
	background-color: green;
	border-radius: 5px;
	color: white;
	width: fit-content;
	margin-bottom: -2px;
}

.res-desc, .timing, .address {
	color: rgb(74, 74, 74);
}


.time {
	padding: 3px 10px;
	border: 1px solid gray;
	width: fit-content;
	border-radius: 50px;
	margin-right: 10px;
}

.main-content {
	display: flex;
	justify-self: center;
	width: 70%;
	margin-top: 50px;
}

.order-head {
	font-size: 20px;
}

.menu-items {
	width: 100%;
}

.menu {
	display: flex;
	flex-direction: column;
	/* width: 100%; */
	justify-content: center;
}

.item-info {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.item {
	/* border: 1px solid; */
	background-color: rgb(245, 245, 245);
	padding: 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
	width: fit-content;
}

.item-desc-head, .item-desc, .item-contents {
	width: 600px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item-desc-head {
	font-size: 18px;
}

.item-desc {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.item-contents {
	color: gray;
	font-size: 15px;
}

.add-cart {
	display: flex;
	gap: 10px;
	margin-right: 20px;
}

img[alt="item-img"] {
	border-radius: 5px;
	height: 130px;
	width: 130px;
}

img[alt="veg"], img[alt="non-veg"] {
	margin-right: 5px;
	height: 15px;
	width: 15px;
}

img[alt="veg"]:hover, img[alt="non-veg"]:hover {
	cursor: pointer;
}

.count-btn {
	height: 25px;
	width: 25px;
	border-radius: 5px;
	border: 1px solid;
}

.count-btn:hover {
	cursor: pointer;
}

.cart-link {
	color: white;
	text-decoration: none;
}

.add-to-cart {
	padding: 5px 10px;
	border: none;
	color: white;
	background-color: rgb(20, 111, 20);
	border-radius: 5px;
	transition: transform 0.5s ease;
}

.add-to-cart:hover {
	transform: scale(1.05);
	background-color: rgb(15, 85, 15);
}

.no-items {
	font-size: 20px;
	color: red;
}

.home-imgs {
	margin-top: 30px;
	display: grid;
	width: 70%;
	height: 300px;
	justify-self: center;
	grid-template-columns: 60% 20% 20%;
	grid-template-rows: 50% 50%;
	grid-template-areas: "box1 box2 box3" "box1 box4 box3";
	gap: 5px;
}

.home-img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.home-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	transition: transform 1s ease;
}

.home-img img:hover {
	transform: scale(1.1)
}

.cart-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	text-decoration: none;
	border: 1px solid;
	padding: 5px 10px;
	color: black;
	border-radius: 5px;
	font-weight: 600;
}

.cart-icon:hover {
	color: #FE3102;
	box-shadow: 0px 0px 10px #FE3102;
}

img[alt="cart-logo-img"] {
	width: 25px;
	height: 25px;
}


.login-btn, .register-btn {
	padding: 10px 20px;
	border-radius: 20px;
	cursor: pointer;
}

.login-btn {
	border: 2px solid var(--orange);
	background-color: white;
}

.register-btn {
	border: none;
	background-color: var(--orange);
	color: white;
	font-weight: 600;
}

.login-btn:hover, .register-btn:hover {
	box-shadow: 0px 0px 5px var(--orange);
}
.register-btn:hover{
	color: white;	
}

img[alt="login-icon"] {
	height: 15px;
	width: 15px;
	margin-right: 8px;
	margin-bottom: -2px;
}

img[alt="register-icon"] {
	height: 20px;
	width: 20px;
	margin-right: 8px;
	margin-bottom: -5px;
}

.profile-box {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
}


.profile-menu {
	padding : 15px 10px;
    position: absolute;
    top: 110%;
    left: 50px;
    background: white;
    min-width: 160px;
    box-shadow: 0 0px 5px rgba(0,0,0,1.1);
	border-top : 2px solid var(--orange);
    display: none;
    flex-direction: column;
    z-index: 1000;
    display: flex;  
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.25s ease, transform 0.25s ease;
}

.profile-menu a {
	font-weight: 600;
	font-size: 16px;
    padding: 10px 14px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.profile-menu a:hover {
    color: var(--orange);
}
.profile-box:hover .profile-menu {
	
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
