@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background: #F1F3F6;
}
:root {
	--orange: #ff5100;
}

.main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

form {
/* 	background: rgba(218, 232, 237, 0.95); */
	padding: 32px 40px;
	border-radius: 14px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
}

.heading {
	margin-bottom: 25px;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	color: #1E3C72;
}

td {
	padding: 10px 14px;
	font-size: 15px;
	color: #333;
}

label {
	color: #1e3c72;
	font-size: 14px;
}

input {
    background: rgba(255, 255, 255, 0.35); /* semi-transparent */
    color: #1e3c72;
    font-weight: 500;
    width: 240px;
    height: 38px;
    padding: 6px 10px;
    border-radius: 6px;
	border: 1px solid #1E3C72;
    outline: none;
    font-size: 14px;
    transition: 0.3s ease;

    backdrop-filter: blur(4px); /* glass effect */
}

input:focus {
	border-color: #1E3C72;
	box-shadow: 0 0 10px #1E3C72;
}

input[type="submit"] {
	margin-top: 18px;
	padding: 10px 26px;
	background: #1E3C72;
	color: rgb(255, 240, 240);
	border: none;
	justify-content: center;
	border-radius: 8px;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	transition: 0.3s ease;
}

.reg {
	text-align: center;
}

input[type="submit"]:hover {
	transform: scale(1.05);
}

.login {
	text-align: center;
	font-size: small;
}

.login a {
	margin-left: 5px;
	text-decoration: none;
	transition: text-shadow 0.1s ease, font-weight 0.1s ease;
}

.login a:hover {
	text-decoration: underline;
	text-shadow: 0 0 1px currentColor;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    opacity: 0.4;
}

.main-content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}